*{
    margin: 0;
    padding: 0;
    background-color: #eee;
    
}


canvas{
    
    display: block;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0,0,0, 0.16), 0px 2px 10px rgba(0,0,0, 0.12);
    
}

@media (max-width:800px){
    
    canvas{
        width: 99.9vw;
        height: 99.9vh;
    }
}

@media (max-width:500px){
    
    canvas{
        width: 99.9vw;
        height: 99.9vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

